<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />

    <title>JSON-BREAD</title>
  </head>

  <body>
    <form action="/add" method="post">
      <div class="wrapper">
        <div class="title3">Add Data</div>

        <div class="form">
          <div class="inputfield">
            <label for="string"> String</label>
            <input type="text" id="string" name="string" placeholder="String" /><br />
          </div>

          <div class="inputfield">
            <label for="integer"> Integer</label>
            <input type="text" id="integer" name="integer" placeholder="Integer" /><br />
          </div>

          <div class="inputfield">
            <label for="float"> Float</label>
            <input type="text" id="float" name="float" placeholder="Float" /><br />
          </div>

          <div class="inputfield">
            <label for="date"> Date</label>
            <input type="date" id="date" name="date" placeholder="Start Date" /><br />
          </div>

          <div class="inputfield">
            <label for="boolean"> Boolean</label>
            <select name="boolean" id="boolean">
              <option selected disabled>Choose the boolean ...</option>
              <option value=true>True</option>
              <option value=false>False</option>
            </select>
          </div>

          <div class="inputfield">
            <button type="submit">Save</button>
          </div>
        </div>
      </div>
    </form>
  </body>
</html>
