* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Verdana", sans-serif;
}

body {
  padding: 0 50px;
}

.wrapper {
    margin: 20px auto;
}

.wrapper .title {
    font-size: 30px;
    font-weight: 900;
    color: #252525;
}

.wrapper .title2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #252525;
}

.wrapper .title3 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 25px;
    color: #252525;
}

.wrapper {
  max-width: 2000px;
  width: 100%;
  /* background: tomato; */
  /* margin: 50px auto; */
  padding: 30px;
}

.wrapper .form {
  width: 100%;
}

.wrapper .form .inputfield {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label {
  width: 80px;
  color: black;
  margin-right: 5px;
  font-size: 16px;
  font-weight: bold;
}

.wrapper .form .inputfield input[type="text"] {
  width: 50%;
  padding: 10px 18px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-left: 15px;
  font-size: 15px;
}

.wrapper .form .inputfield input[type="date"] {
    width: 11%;
    padding: 10px 18px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 15px;
  }

.wrapper .form .inputfield select {
    width: 50%;
    padding: 10px 18px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-left: 15px;
  }
  

.wrapper .form .inputfield button {
    /* width: 10%; */
    background-color: #0666d4;
    color: white;
    padding: 12px 16px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

table {
  /* border-collapse: collapse; */
  border-spacing: 0;
  width: 57%;
  border: 1px solid #f2f2f2;
  margin-bottom: 2rem;
}

th, td {
text-align: left;
padding: 16px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

#btn-add {
  background-color: #0666d4;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;

}

#btn-edit {
  background-color: rgb(5, 126, 5);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

#btn-delete {
  background-color: rgb(235, 5, 5);
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  margin-left: 5px;
}